body {
    background-color: #cec2ae;
    font-family: 'Architects Daughter', cursive;
    font-size: 16px;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
}

h1, h2 {
    color: #e94445;
    letter-spacing: 2px;
    margin: 10px auto;
    text-align: center;
}

h1, h2, .label, .pretty {
    font-family: 'Almendra', serif;
}

.legende {
    text-align: center;
    width: 80vw;
    margin: 0 auto 1em;
}

.containerMain {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "pict"
      "profile"
      "stats"
      "skills"
      "training"
      "xp"
      "gear";
    margin: auto 3%;
}

.profile {
    grid-area: profile;
}

.profile p {
    line-height: 0.9em;
}

.label {
    font-weight: bold;
}

.stats {
    grid-area: stats;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.stats p {
    background-color: #cec2ae;
    display: block;
    width: 25vw;
    max-width: 80px;
    padding: 2px;
    font-size: 1.2em;
    line-height: 0.9em;
    text-align: center;
    border-radius: 20px;
}

.skills {
    grid-area: skills;
}

.skills section, .xp section {
    width: 80vw;
    margin: 0 auto;
    padding: 3px;
}

.skills ul, .gear ul {
    padding-left: 10px;
    list-style-type: "- ";
}

.training {
    grid-area: training;
}

.xp {
    grid-area: xp;
}

.gear {
    grid-area: gear;
}

.gear p {
    line-height: 0.9em;
}

.block {
    background-color: #fff;
    border-radius: 20px;
    border: #000 5px double;
    box-shadow: 4px 4px 4px #00000040;
    padding: 10px;
    min-width: 200px;
}

.pict {
    grid-area: pict;
    display: block;
    height: auto;
    min-height: 200px;
    background-image: url(img/alderic.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: #000 2px solid;
}

footer {
    height: 30px;
    text-align: center;
    margin: 0 auto;
}

/* TABLET */

@media screen and (min-width: 480px) {

    .containerMain {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto auto;
        gap: 15px 15px;
        grid-template-areas:
          "pict profile"
          "skills stats"
          "skills training"
          "xp gear"
          "xp gear";
        margin: auto 4%;
    }

    .pict {
        height: 250px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .skills section, .xp section {
        width: 18vw;
    }
}

/* DESKTOP */

@media screen and (min-width: 768px) {

    body {
        font-size: 18px;
    }

    .containerMain {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 20px 20px;
        grid-template-areas:
          "pict profile stats"
          "skills skills training"
          "xp xp gear";
        margin: auto 5%;
    }

    .pict {
        height: 300px;
    }

    .skills section, .xp section {
        width: 45%;
    }
}